<% current_nick = current_user.nickname %>
<% receiver = receiver_in(@chat) %>
<div class="chat">
  <header>
    <a href="/chats" class="btn btn-icon back">
      <img src="/images/back.png">
    </a>
    <h3><%= receiver.nickname %></h3>
    <a href="" class="btn btn-green refresh">refresh</a>
  </header>
  <div id="messages" class="messages">
    <ul>
      <% @chat.messages.each do |message| %>
        <li class="message <%= 'current-user-message' if message.sent_by == current_nick %>">
          <div class="message-inner">
            <span class="message-date">
              <%= message.created_at.strftime('%H:%M %Y-%m-%d') %>
            </span>
            <br>
            <span class="message-content">
              <%= message.content %>
            </span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <footer>
    <form action="/chats/<%= @chat.id %>/message" method="post">
      <textarea name="content" required></textarea>
      <button type="submit" class="btn btn-icon"><img src="/images/send.png"></button>
    </form>
  </footer>
</div>
