<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messenger</title>
</head>
<body>

  <%= erb :'header.html' %>

  <% unless locals.empty? %>
    <%= message %>
  <% end %>

  <% flash.keys.each do |type| %>
    <div class="flash <%= type %>">
      <%= flash[type] %>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
